<!DOCTYPE html>
<!--templates/testconfig.html-->
<html>
<head>
    <title>Test Configurations</title>
</head>
<body>

    <h1>Test Configurations</h1>
    <form method="POST" action="{{url_for('post_testconfig')}}">

        <label for="test_type">Test Type:</label><br>
        <select name="test_type">
            <option value="AVALANCHE">AVALANCHE</option>
            <option value="TSUNAMI">TSUNAMI</option>
        </select>
        <br><br>
        <label for="test_message_delay">Test message delay:</label><br>
        <input type="number" name="test_message_delay">
        <br><br>
        <label for="message_count_per_driver">Message count per driver:</label><br>
        <input type="number" name="message_count_per_driver">
        <br><br>
        <button type="Submit">Submit</button>
    </form>

</body>
</html>
